* {margin: 0;
}

html {
    scroll-behavior: smooth;
}

img {
    max-width: 80%;
}

/* fonts */
@font-face {
    font-family: Sobiscuit;
    src: url(fonts/sobiscuit/Sobiscuit.ttf);
}



/* header */
header ul {
    background-color: #00a99d;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

header li a, header li {
    color: white;
    text-decoration: none;
}



/* main */

main {
    background-color: #8ae6ff;
}

h1 {
    font-family: Sobiscuit, 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
    color: #006837;
}

h2 {
    color: #006837;
}

p {
    color: #006837;
    background-color: white;
}

/* doemee */

.wattedoen {
    color: #006837;
    background-color: white;
}

.winnaars ul {
    list-style: none;
}

/* gegevens */


/* bedankt */

#henk {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* footer */

footer {
    background-color: #00a99d;
}

footer ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

footer h2 {
    color: white;
}