* {margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

img {
    max-width: 80%;
}

/* fonts */
@font-face {
    font-family: Sobiscuit;
    src: url(fonts/sobiscuit/Sobiscuit.ttf);
    font-family: Typewriter Dry;
    src: url(fonts/jmh_typewriter_dry/);
    font-family: Caviar Dreams;
    src: url(fonts/caviar_dreams/CaviarDreams_Bold.ttf);
}



/* header */
header ul {
    background-color: #00a99d;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

header li a, header li {
    color: white;
    text-decoration: none;
    font-family: Typewriter dry, 'Courier New', Courier, monospace;
    font-weight: bold;
}



/* main */

main {
    background-color: #8ae6ff;
    padding-top: 1px;
}

h1 {
    font-family: Sobiscuit, 'Courier New', Courier, monospace;
    font-size: 30px;
    display: flex;
    justify-content: center;
    color: #006837;
    background-color: #ccffcc;
    padding: 15px;
    margin: 15px;
    border-radius: 15px;
}

h2 {
    color: #006837;
    font-family: Typewriter Dry, 'Courier New', Courier, monospace;
}

p {
    color: #006837;
    background-color: white;
    font-family: Caviar Dreams, Verdana, Geneva, Tahoma, sans-serif;
    margin: 15px;
    border-radius: 15px;
    padding: 15px;
}

/* index */

.indexfoto {
    display: flex;
    justify-content: center;
}

/* doemee */

.wattedoen {
    color: #006837;
    background-color: white;
    border-radius: 15px;
    margin: 15px;
    padding: 15px;
}

.wattedoen {
    font-family: Caviar Dreams, 'Courier New', Courier, monospace;
}

.winnaars ul {
    list-style: none;

}

/* gegevens */


/* bedankt */

#henk {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* footer */

footer {
    background-color: #00a99d;
}

footer ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

footer h2 {
    color: white;
    display: flex;
    justify-content: center;
}

